<form #formCreate="ngForm"(ngSubmit)="submitForm(formCreate.form)">
    <label> Create New Outfit</label>
    <div class="form-group">

        <label>Min Temperature</label>
      <input 
        required 
        ngModel
        #inputMinTemperature="ngModel"
        name="minTemperature" 
        id="minTemperature"
        type="number" 
        class="form-control">
        </div>
        <div class="form-group">
            <label>Max Temperature</label>
            <input 
              required 
              ngModel
              #inputMaxTemperature="ngModel"
              name="maxTemperature" 
              id="maxTemperature"
              type="number" 
              class="form-control">
              </div>
              <div class="form-group">
                <label>Outfit Top</label>
                <input 
                  required 
                  ngModel
                  #inputOutfitTop="ngModel"
                  name="outfitTop" 
                  id="outfitTop"
                  type="text" 
                  class="form-control">
                  </div>
                <div class="form-group">
                    <label>Outfit Bottom</label>
                <input 
                  required 
                  ngModel
                  #inputOutfitBottom="ngModel"
                  name="outfitBottom" 
                  id="outfitBottom"
                  type="text" 
                  class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Outfit Head</label>
                    <input 
                      required 
                      ngModel
                      #inputOutfitHead="ngModel"
                      name="outfitHead" 
                      id="outfitHead"
                      type="text" 
                      class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Outfit Hands</label>
                        <input 
                          required 
                          ngModel
                          #inputOutfitHands="ngModel"
                          name="outfitHands" 
                          id="outfitHands"
                          type="text" 
                          class="form-control">
                          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
