<div class="row">
    <div class="col-sm">
        <div class="text-left">

            <p>Weather Outfitter checks the weather where you want to walk or 
                run and returns an outfit based on the weather in your area.</p>

            <h4>To start, just Login or Register, then enter your zip code.
                Weather Outfitter will recommend an outfit.</h4>

            <p>At any time, you can adjust the outfit recommendations to be warmer 
                (more dressed up) or colder (lighter outfit/fewer layers), so your 
                outfit can be tailored to your own needs.
            </p>

            <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut" class="text-center">
                <form #formHome="ngForm"(ngSubmit)="submitForm(formHome.form)">
                    <div class="form-group">
                        <label for="zipCode">Enter Zip Code</label>
                        <input 
                            required 
                            minlength="5"
                            maxlength="5"
                            ngModel
                            #inputZip="ngModel"
                            name="zipCode" 
                            id="zipCode"
                            type="text" 
                            class="form-control">
                        <div 
                            class="alert alert-danger" 
                            *ngIf="inputZip.touched && !inputZip.valid">
                            <div *ngIf="inputZip.errors?.['required']">
                                Zip Code is required.
                            </div>
                            <div *ngIf="inputZip.errors?.['minlength'] || inputZip.errors?.['maxlength']">
                                Zip Code should be exactly 5 numbers.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>               
            </ng-container>
            <ng-template #loggedOut class="text-center">
                <app-auth-button></app-auth-button>
            </ng-template>
        </div>
    </div>
    <div class="col-sm">
        <div class="text-center"></div>
    </div>
    <div class="col-sm">
        <div class="text-center"></div>
    </div>
</div>

