<div>
    <p>Weather Outfitter checks the weather where you want to walk or 
        run and returns an outfit based on the weather in your area.</p>

    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut" class="text-center">
        <h4>Enter your zip code.
            Weather Outfitter will recommend an outfit.</h4>
        <p>At any time, you can adjust the outfit recommendations to be warmer 
            (more dressed up) or colder (lighter outfit/fewer layers), so your 
            outfit can be tailored to your own needs.
        </p>
        <app-current-weather></app-current-weather> 
    </ng-container>
    <ng-template #loggedOut class="text-center">
        <h4>To start, just Login or Register, then enter your zip code.
            Weather Outfitter will recommend an outfit.</h4>
        <app-auth-button></app-auth-button>
    </ng-template>
</div>

