<!-- TESTING Template for displaying data from backend -->
<div class="row">
  <div class="col-12">
    <div class="text-center">
      <h1>Outfit Picker</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="row">
      <div class="col-3" *ngFor="let o of outfitArray">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h6 class="card-title">
            Temperature: {{ o.minTemperature }}-{{ o.maxTemperature }}
          </h6>
          <h6 class="card-text">Id: {{ o.id }}</h6>
          <h6 class="card-text">Bottom: {{ o.outfitBottom }}</h6>
          <h6 class="card-text">Top: {{ o.outfitTop }}</h6>
          <h6 class="card-text">Head: {{ o.outfitHead }}</h6>
          <h6 class="card-text">Hands: {{ o.outfitHands }}</h6>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
