<h1>Your Clothing List</h1>
<div class="row mb-2">
    <div class="col-2">
        <button class="btn btn-primary" [routerLink]="['/createOutfit']">Create New</button>
    </div>
    <div class="col-10"></div>
</div>

<div *ngIf="userOutfitArray.length === 0; else elseBlock">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Your closet is empty</h4>
        <p>Please click create new to add an outfit to your closet.</p>
      </div>
</div>
<ng-template #elseBlock>
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Max Temperature</th>
            <th>Min Temperature</th>            
            <th scope="col">Head</th>
            <th scope="col">Top</th>
            <th scope="col">Hands</th>
            <th scope="col">Bottoms</th>
            <th></th>
            <th></th>
        </tr>        
    </thead>
    <tbody>        
            <tr *ngFor="let outfit of userOutfitArray">
                <td>{{outfit.maxTemperature | degree}}</td>
                <td>{{outfit.minTemperature | degree}}</td>
                <td>{{outfit.outfitHead}}</td>
                <td>{{outfit.outfitTop}}</td>
                <td>{{outfit.outfitHands}}</td>
                <td>{{outfit.outfitBottom}}</td>    
                <td>
                    <button class="btn btn-info" [routerLink]="['/editOutfit', outfit.id]">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteOutfit(outfit)">Delete</button> 
                </td>                
            </tr>

    </tbody>       
</table>
</ng-template>