<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1>Outfit List</h1>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tempaerature</th>
            <th scope="col">Head</th>
            <th scope="col">Top</th>
            <th scope="col">Hands</th>
            <th scope="col">Bottoms</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <th scope="row">-20 +</th>
            <td>Winter had, Neck scarf</td>
            <td>T-shirt, Second t-shirt layer, Long-sleeved Shirt, heavy running jacket</td>
            <td>Heavy Gloves</td>
            <td>Tights with thick sweatpants over top</td>
        </tr>
        <tr>
            <th scope="row">10 +</th>
            <td>Winter had, Neck scarf</td>
            <td>T-shirt, Second t-shirt layer, Long-sleeved Shirt, light running jacket</td>
            <td>Heavy Gloves</td>
            <td>Thick sweatpants</td>
        </tr>    
        <tr>
            <th scope="row">20 +</th>
            <td>Headband</td>
            <td>T-shirt, Second t-shirt layer, Long-sleeved shirt</td>
            <td>Light Gloves</td>
            <td>Light sweatpants</td>
        </tr>
        <tr>
            <th scope="row">30 +</th>
            <td>Headband</td>
            <td>T-shirt, Second t-shirt layer, Long-sleeved shirt</td>
            <td>Light Gloves</td>
            <td>Tights</td>
        </tr>
        <tr>
            <th scope="row">40 +</th>
            <td>Headband</td>
            <td>T-shirt, Long-sleeved shirt</td>
            <td>Light Gloves</td>
            <td>Tights</td>
        </tr>
        <tr>
            <th scope="row">50 +</th>
            <td>Headband</td>
            <td>T-shirt, Long-sleeved shirt</td>
            <td>Light Gloves</td>
            <td>Tights</td>
        </tr> 
        <tr>
            <th scope="row">60 +</th>
            <td>None</td>
            <td>T-shirt</td>
            <td>None</td>
            <td>Shorts</td>
        </tr>   
        <tr>
            <th scope="row">70 +</th>
            <td>None</td>
            <td>T-shirt or Tanktop</td>
            <td>None</td>
            <td>Shorts</td>
        </tr>
    </tbody>
       
</table>